@import 'bootstrap.min.css';
@import "swiperjs";
@import "variables";

@import "mc-font/font";

@import "layout/navigation";

@import "pages/index";
@import "pages/join";
@import "pages/blog";

@import "components/cards";
@import "components/buttons";
@import "components/typographie";
@import "components/general";
@import "components/dropdown";
@import "components/material-display";

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background-color: $brand-color-light;
}



