$grid-breakpoint-xs: 0;
$grid-breakpoint-sm: 576px;
$grid-breakpoint-md: 768px;
$grid-breakpoint-lg: 992px;
$grid-breakpoint-xl: 1200px;
$grid-breakpoint-xxl: 1400px;

//$brand-color: #ff2d20;
//$brand-color-light: lighten($brand-color, 15);

$brand-color: #FFAA00;
$brand-color-light: #FFAA00;
