.card {
    border-radius: 0;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 6px 16px;
    transition: 0.5s;
    &:hover {
        box-shadow: rgba(0, 0, 0, 1) 0px 6px 20px;
        transition: 0.5s;
    }
    .card-img-overlay {
        display: flex;
        align-items: flex-end;
    }
    .card-title {
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 1.3rem;
    }
    .card-body {
        max-width: 100%;
    }}

a .card {
    &:hover {
        cursor: pointer;
    }
}
