.material-display {
    max-width: 100%;
    background: rgba(0,0,0,0.3);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem;
    height: 240px;

    .upper-image {
        margin-bottom: 0.5rem;
        height: 148px;
        width: 148px;

        img {
            max-width: 100%;
            min-height: 100%;
            image-rendering: pixelated;
        }
    }
    .label {
        font-weight: 500;
    }
}
