@font-face {
    font-family: 'Minecraft-Regular';
    src:url('Minecraft-Regular.ttf.woff') format('woff'),
    url('Minecraft-Regular.ttf.svg#Minecraft-Regular') format('svg'),
    url('Minecraft-Regular.ttf.eot'),
    url('Minecraft-Regular.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
